* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}
.about .body {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 50px;
}
.about .body .span1 {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #e7e7e7;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #9CA3AF;
    padding-left: 30px;
    margin-bottom: 50px;
}
.about .body .span1 img {
    width: 25px;
    height: 25px;
}
.about .body .content {
    width: 100%;
    padding-top: 200px;
}
.about .body .p1 {
    color: #a2bc20;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.about .body h1 {
    text-align: center;
    font-size: 60px;
    margin: 20px auto;
    width: 55%;
}
.about .body .p2 {
    color: #9CA3AF;
    font-size: 20px;
    text-align: center;
    width: 48%;
    margin: 20px auto;
}
.about .body .p3 {
     font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #9CA3AF;
    width: fit-content;
    margin: 40px auto 80px;
}
.about .body .img1 {
    width: 100%;
    margin-bottom: 80px;
}
.about .body .content .top {
    width: 100%;
    height: 80vh;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.about .body .content .img2 {
    width: 48%;
    height: 70%;
    border-radius: 25px;
}
.about .body .content .top .tleft {
    width: 42%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 8%;
}
.about .body .content .top .tleft h1 {
    font-size: 40px;
    text-align: left;
    margin: 0;
}
.about .body .line {
    background-color: #a2bc20;
    height: 3px;
    width: 80px;
}
.about .body .tleft p {
    color: #9CA3AF;
    font-size: 20px;
    line-height: 25px;
}
.about .body .tleft span {
     font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #a2bc20;
    border-radius: 25px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .body .content .bottom {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}
.about .body .content .bottom .bright {
    width: 42%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 8%;
}
.about .body .content .bright h1 {
    font-size: 40px;
    text-align: left;
    margin: 0;
}
.about .body .bright p {
    color: #9CA3AF;
    font-size: 20px;
    line-height: 25px;
}
.about .body .bright span {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: 2px solid #e2e2e2;
    color: black;
}
.about .body .bright img {
    filter: brightness(0);
    width: 30px;
    height: 30px;
}
