* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.cata .toys a {
  color: black;
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}
.cata .body {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 50px;
}
.cata .body .span1 {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #e7e7e7;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #9CA3AF;
    padding-left: 30px;
    margin-bottom: 100px;
}
.cata .body .span1 img {
    width: 25px;
    height: 25px;
}
.cata .body .content {
    width: 100%;
    padding-top: 200px;
}
.cata .body .top {
    display: flex;
    justify-content: space-between;
}
.cata .body .top h2 {
    font-size: 32px;
}
.cata .body .top .topright {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 30px;
}
.cata .top .topright span {
    color: black;
    border: none;
    width: fit-content;
    font-weight: bold;
    cursor: pointer;
    padding: 0 25px;
}
.cata .top .topright .selected {
     color: white;
    background-color: #a2bc20;
    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cata .body .line {
    height: 3px;
    width: 100%;
     background: linear-gradient(
    to right,
    #a2bc20 0px,
    #a2bc20 10%,
    #e2e2e2   10%,
    #e2e2e2 100%
  );
  margin-top: 39px;
}
.cata .toys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    gap: 30px;
    width: 100%;
}
.cata .toys .toy1 {
     display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    height: 450px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.cata .toys .toy1 img {
    width: 250px;
    height: 250px;
}
.cata .toys .toy1:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.cata .toys .toy1 p {
    font-size: 24px;
}
.cata .toys .toy1 span {
    font-size: 18px;
    background-color: #a2bc20;
    border-radius: 25px;
    color: white;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.cata .ins {
    width: 100%;
    height: 600px;
    background-color: #f8f8f8;
}
.cata .sub {
    width: 100%;
    height: 500px;
    display: flex;               
    align-items: center;         
    justify-content: center;
     background-color: #f8f8f8;
}
