* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}
.contacts .main {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 50px;
}
.contacts .main span {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #e7e7e7;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #9CA3AF;
    padding-left: 30px;
    margin-bottom: 50px;
}
.contacts .main span img {
    width: 25px;
    height: 25px;
}
.contacts .main .content {
    width: 100%;
    padding: 600px 80px 0 80px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
}
.contacts .main .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts .main .left p:first-child {
  font-size: 28px;
  font-weight: normal;
}
.contacts .main .left p {
  font-weight: bold;
}
.contacts .main .left input {
  width: 100%;
  height: 60px;
  border-radius: 25px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
  font-size: 18px;
}
.contacts .main .left textarea {
  width: 100%;
  height: 180px;
  border-radius: 25px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
  font-size: 18px;
  padding-left: 15px;
  padding-top: 15px;
  resize: none;
}
.contacts .main .left span {
      font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #a2bc20;
    border-radius: 25px;
    width: fit-content;
    padding: 15px;
}
.contacts .main .right {
  width: 30%;
  padding-top: 20px;
}
.contacts .main .right p {
  font-size: 20px;
  margin-bottom: 20px;
}
.contacts .main .right p:first-child {
  font-size: 28px;
  margin-bottom: 40px;
}
.contacts .main .right div {
  display: flex;
  gap: 10px;
}
.contacts .main .right img {
  width: 40px;
  height: 40px;
}
.contacts .sub {
    width: 100%;
    height: 500px;
    display: flex;               
    align-items: center;         
    justify-content: center;
     background-color: #f8f8f8;
}

.contacts .sub .inner {
    width: 100%;
    height: 200px;
    border: 1px solid #e7e7e7;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: white;
}
.contacts .sub .inner .left {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.contacts .sub .inner .left div {
    background-color: #a2bc20;
    border-radius: 50%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts .sub .inner img {
    width: 35px;
    height: 35px;
}
.contacts .sub .inner .left p {
    font-size: 36px;
    text-wrap: wrap;
}
.contacts .sub .inner .left span {
    color:#a2bc20;
}
.contacts .sub .inner .right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  height: 70px;
}
.contacts .sub .inner .right input {
    height: 100%;
    border-radius: 25px;
    border: 1px solid #d0d0d0;
    padding-left: 20px;
    font-size: 20px;
    width: 500px;
}
.contacts  .sub .inner .right button {
    background-color: #a2bc20;
    color: white;
    border-radius: 25px;
    height: 100%;
    width: 170px;
    font-size: 20px;
    border: none;
}
.contacts .ins {
    width: 100%;
    height: 600px;
    background-color: #f8f8f8;
}
.ins .container p {
    color: #a2bc20;
    margin: 0 auto;
    width: fit-content;
}
.ins .inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    height: 400px;
}
.ins .inner p {
    font-size: 36px;
    color: black;
}
.ins .inner div {
    display: flex;
    gap: 30px;
}
.ins .inner img {
   flex: 1;
   height: 220px;
   border-radius: 25px;
}
.ins .inner img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.ins .inner span {
     background-color: #a2bc20;
    color: white;
    border-radius: 25px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

