* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}
.detail .body {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 50px;
}
.detail .body .span1 {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #e7e7e7;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #9CA3AF;
    padding-left: 30px;
    margin-bottom: 50px;
}
.detail .body .span1 img {
    width: 25px;
    height: 25px;
}
.detail .content {
    width: 100%;
    padding: 150px 80px;
    background-color: white;
    border-radius: 25px;
}
.detail .content .shown {
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.detail .content .shown .sleft {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
}
.detail .content .shown .sleft h1 {
     font-size: 60px;
}
.detail .content .shown .sleft p {
    font-size: 20px;
    color: #9CA3AF;
    line-height: 1.5em;
}
.detail .content .shown .sleft h3 {
     font-size: 32px;
     color: #a2bc20;
     font-weight: normal;
     margin-top: 30px;
}
.detail .content .shown .sleft .inn {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.detail .content .shown .sleft .inn input {
    background-color: #f8f8f8;
     border: 1px solid #e7e7e7;
     border-radius: 25px;
     width: 90px;
     height: 50px;
     padding-left: 15px;
}
.detail .content .shown .sleft .inn input:focus {
     border: 1px solid #a2bc20; 
     outline: none;
}
.detail .content .shown .sleft .inn span {
    background-color: #a2bc20;
    color: white;
    height: 50px;
    width: 160px;
     border-radius: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     cursor: pointer;
}
.detail .content .inn1 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.detail .content .inn1 p {
    font-size: 30px;
}
.detail .content .inn1 p:last-child {
    font-size: 20px;
    color: #9CA3AF;
}
.detail .content .line {
    height: 3px;
    width: 100%;
     background: linear-gradient(
    to right,
    #a2bc20 0px,
    #a2bc20 15%,
    #e2e2e2   15%,
    #e2e2e2 100%
  );
  margin-top: 30px;
}
.detail .content .inn2 {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    margin-top: 100px;
}
.detail .content .inn2 .inn2right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 300px;
    font-size: 20px;
}
.detail .content .inn2 .inn2right div {
    display: flex;
    justify-content: space-between;
     border-bottom: 1px solid #e2e2e2;
     padding-bottom: 30px;
}
.detail .content .inn2 .inn2left {
    width: 65%;
    font-size: 26px;
}
.detail .content .inn2 .inn2left p {
    font-size: 20px;
    margin: 15px 0 40px;
}
.detail .inn3 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.detail .inn3  {
    font-size: 40px;
}
.detail .inn3 a {
    color: black;
}
.detail .inn3  span {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: 2px solid #e2e2e2;
}
.detail .inn3  img {
    width: 30px;
    height: 30px;
     filter: brightness(0);
}
.detail .line {
    height: 3px;
    width: 100%;
     background: linear-gradient(
    to right,
    #a2bc20 0px,
    #a2bc20 15%,
    #e2e2e2   15%,
    #e2e2e2 100%
  );
  margin-top: 30px;
}
.detail .inn4 {
     display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
.detail .inn4 a {
    color: black;
}
.detail .inn4 div {
     display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    width: 361px;
    height: 450px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.detail .inn4 div img {
    width: 250px;
    height: 250px;
}
.detail .inn4 div:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.detail .inn4 div p {
    font-size: 24px;
}
.detail .inn4 div span {
    font-size: 18px;
    background-color: #a2bc20;
    border-radius: 25px;
    color: white;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}