* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer {
    width: 100%;
    height: 200px;
     background-color: #a2bc20;
}
.footer .top {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid white;
}
.footer .top .tright{
    display: flex;
    gap: 10px;
}
.footer .top .tright img{
    width: 20px;
    height: 20px;
}
.footer .top ul {
    display: flex;
    gap: 30px;
    align-items: center;
}
.footer .bottom {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
