* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}
.header a {
  color: black;
  text-decoration: none;
}

.header {
    width: 100%;
    height: 150px;
     background: linear-gradient(
    to bottom,
    #a2bc20 0px,
    #a2bc20 50px,
    white   50px,
    white 150px
  );
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .container .top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.header .tright{
    display: flex;
    gap: 10px;
}
.header .tright img{
    width: 20px;
    height: 20px;
}
.header .bottom{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}
.header .bottom ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.header .bottom ul li{
    font-size: 20px;
}
.header .bottom ul .bbb {
    font-size: 28px;
}
.header .bottom .bright {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.header .bottom .bright img{
    width: 20px;
    height: 20px;
}
.header .bright span {
    border-radius: 50%;
    background-color: #a2bc20;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}